$dark: #333
$light: #fff

.container
    margin: 0 auto
    width: 400px

.septa-widget
    background: $dark
    color: $light
    border: 1px solid black 
    padding: 1em 0

    .septa-title

    .septa-content
        background: $light
        color: $dark

        .section
            border: .1em solid gray
            padding: 1.5em .5em 2.5em .5em

            .section-title
                h1
                    font-size: 1.25em

            .section-input
                select
                    -webkit-appearance: none
                    -moz-appearance: none
                    appearance: none
                    padding: 1em
                    width: 100%

                input[type="number"]
                    width: 100%

                .radio-wrap
                    padding: 0.5em 2em

            .section-info
                font-size: 1em 
                color: #333

    .septa-footer 

        .fare-cost
            font-size: 2em


.text-center
    text-align: center